#MenuContainer {
    position: absolute;
    height: 30vh;
    width: 20vw;
    left: 1vmin;
    top: 1vmin;
    background-color: lightgray;
    border-radius: 1vmin;
    opacity: .9;
    z-index: 3;
    text-align: left;
    padding: 1vmin;
    display: block;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-130%);
}

#TimerSlider {
    -webkit-appearance: none;
    height: .5vmin;
    border-radius: .5vmin;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 19vw;
    padding: .5vmin;
    display: inherit;
}

#TimerSlider:hover {
    opacity: 1;
}

#TimerSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5vmin;
    height: 2.5vmin;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2.5vmin;
    height: 2.5vmin;
    border-radius: 50%;
    background: gold;
    cursor: pointer;
}

#marks {
    width: 100%;
}