#InfoCard {
    position: absolute;
    height: 12vh;
    width: 50vw;
    right: 1vmin;
    bottom: 1vmin;
    background-color: lightgray;
    border-radius: 2vmin;
    opacity: 0.9;
    z-index: 3;
    text-align: left;
    padding: 1vmin;
    display: block;
    transition: transform 0.3s ease-out;
}

.OpenInfo {
    transform: translateX(0);
}

.CloseInfo {
    transform: translateX(130%);
}


@keyframes Fade-in {
    from {
        opacity: .3;
    }
    to {
        opacity: .9;
    }
}

.InfoCardText {
    font-size: 1.5vh;
    padding: .25vmin;
    margin: .25vmin;
    position: relative;
    width: 90%;
    height: 15%;
    /* border: 1px solid black; */

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#CloseInfoCard {
    z-index: inherit;
}

@media screen and (max-width: 600px) {
    #InfoCard {
        width: 70vw;
        margin: .1vmin .25vmin;
    }
}
