.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Fade-in {
  from {
    opacity: .3;
  }
  to {
    opacity: .9;
  }
}

.Arrow {
  height: 6vmin;
  position: absolute;
  bottom: 47vh;
  opacity: .3;
  z-index: 2;
}

.Arrow:hover {
  background-color: gold;
  border-radius: 50%;
  opacity: .7;
}

.NextArrow {
  right: 2vmin;
  /* animation: Fade-in infinite 5s linear; */
  /* animation: App-logo-spin infinite 20s linear; */
}

.PrevArrow {
  left: 2vmin;
  /* animation: Fade-in infinite 3s linear; */
  /* animation: App-logo-spin infinite 6s linear; */
}


.Menu {
  height: 4vmin;
  position: absolute;
  top: 3vmin;
  left: 3vmin;
  opacity: .3;
  z-index: 4;
}

.Menu:hover {
  opacity: .7;
}

.InfoCardDisplayButton {
  height: 4vmin;
  position: absolute;
  bottom: 3vmin;
  right: 3vmin;
  opacity: .3;
  z-index: 1;
}

.Button:hover {
  background-color: gold;
  border-radius: 50%;
  opacity: .7;
}